.app-root .logo {
  height: 50px;
}

.app-root .header {
  background-color: #222;
  margin-top:50px;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-root .title {
  font-size: 1.5em;
}

.app-root .intro {
  font-size: 1.5em;
}

.hero-image-container{
  width: 100%;
  height: 500px;
  background-color: #222;
  padding-bottom: 30px;
}

.hero-image{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}